<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920231916895-39cpgnir76qpg1r27qvlf5cp716fh2qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920231916895-39cpgnir76qpg1r27qvlf5cp716fh2qt</string>
	<key>API_KEY</key>
	<string>AIzaSyAaRw-yuX_oWdY8ybPcrcSQjnQEHAVD8HM</string>
	<key>GCM_SENDER_ID</key>
	<string>920231916895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listahanApp</string>
	<key>PROJECT_ID</key>
	<string>listahan-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>listahan-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920231916895:ios:e9907b5b09d6fe61b372ea</string>
</dict>
</plist>